// variables generales del proyecto
$color-principal-blanco: #fafafa;
$color-principal-negro: #0e0e0e;
$color-detalle-dorado: rgb(255, 192, 35);
$color-detalle-dorado-translucido: rgba(255, 192, 35, 0.75);
$color-detalle-fondo-dark-mode: rgb(31, 31, 31);
$border-radius: 0.3125em;
$transition-dark: all 0.5s ease-in-out;
