#dark-mode {
	display: none;
}
.boton-dark-mode {
	position: fixed;
	background-image: url(../imagenes/mitad-planeta-dia.png);
	background-size: 70%;
	background-repeat: no-repeat;
	// background-position-y: bottom;
	background-position: bottom right;
	width: 90px;
	height: 3.4375em;
	padding: 0 30px;
	top: 0;
	right: 5px;
	cursor: pointer;
	z-index: 110;
	overflow: hidden;
	@include prefijos-transition($transition-dark);
}
.boton-dark-mode::after {
	content: '';
	width: 24px;
	height: 24px;
	background-image: url(../imagenes/sol.png);
	@include prefijos-filter(drop-shadow(0 3px 6px rgba(255, 196, 0, 0.822)));
	background-size: contain;
	position: absolute;
	box-sizing: border-box;
	@include prefijos-transition($transition-dark);
	top: -2px;
	right: 3px;
}
.boton-dark-mode::before {
	content: '';
	width: 20px;
	height: 20px;
	background-image: url(../imagenes/luna.png);
	@include prefijos-filter(drop-shadow(0 2px 6px rgba(240, 235, 219, 0.7)));
	background-size: contain;
	position: absolute;
	box-sizing: border-box;
	top: 0;
	right: -30px;
	@include prefijos-transition($transition-dark);
}
#dark-mode:checked ~ .boton-dark-mode {
	background-image: url(../imagenes/mitad-noche.png);
}
#dark-mode:checked ~ .boton-dark-mode::after {
	@include prefijos-transform(translateX(-50px));
	opacity: 0;
}
#dark-mode:checked ~ .boton-dark-mode::before {
	@include prefijos-transform(translateX(-29px));
}
