#dark-mode {
	display: none;
}
.cartel-dark-mode {
	position: fixed;
	width: 71px;
	height: 17px;
	right: 2px;
	top: 3.4375em;
	background-color: $color-detalle-muy-oscuro;
	border-radius: 0 0 6px 6px;
	border: none;
	z-index: 90;
	@include prefijos-transition($transition-dark);
	@include prefijos-transform(translateY(-18px));
	@include prefijos-animation(cartel-dark 5s ease-in-out 0.6s);
	&:hover::after {
		@include prefijos-transform(translateY(0px));
	}
	@media (max-width: 1024px) {
		width: 64px;
	}
}
.cartel-dark-mode--index {
	@include prefijos-animation(cartel-dark 5s ease-in-out 8s);
}
@keyframes cartel-dark {
	25% {
		@include prefijos-transform(translateY(0px));
	}
	75% {
		@include prefijos-transform(translateY(0px));
	}
	100% {
		@include prefijos-transform(translateY(-18px));
	}
}
.cartel-dark-mode::after {
	content: 'LIGHT MODE';
	position: absolute;
	color: $color-principal-blanco;
	font-size: 10px;
	width: 100%;
	text-align: center;
	padding-top: 1px;
	@include prefijos-transition($transition-dark);
	@media (max-width: 1024px) {
		font-size: 9px;
	}
}
.cartel-dark-mode::before {
	content: 'DARK MODE';
	position: absolute;
	color: $color-principal-blanco;
	font-size: 10px;
	width: 100%;
	text-align: center;
	padding-top: 2px;
	opacity: 0;
	@include prefijos-transition($transition-dark);
	@media (max-width: 1024px) {
		font-size: 9px;
	}
}
#dark-mode:checked ~ .cartel-dark-mode::after {
	opacity: 0;
}
#dark-mode:checked ~ .cartel-dark-mode::before {
	opacity: 1;
}
.boton-dark-mode {
	position: fixed;
	background-image: url(../imagenes/mitad-planeta-dia.png);
	background-size: 4.06em;
	background-repeat: no-repeat;
	background-position: bottom right;
	width: 80px;
	height: 3.4375em;
	top: 0;
	right: 5px;
	cursor: pointer;
	z-index: 110;
	overflow: hidden;
	@include prefijos-transition($transition-dark);
	@media (max-width: 768px) {
		background-color: rgb(32, 148, 226);
		box-shadow: 0 0 2px rgb(27, 27, 27);
		width: 35px;
		height: 20px;
		border-radius: 20px;
		top: 15px;
		right: -5px;
		@include prefijos-transform(rotate(90deg));
	}
	&:hover ~ .cartel-dark-mode {
		@include prefijos-transform(translateY(0px));
	}
}
.boton-dark-mode::after {
	content: '';
	width: 24px;
	height: 24px;
	background-image: url(../imagenes/sol.png);
	@include prefijos-filter(drop-shadow(0 3px 6px rgba(255, 196, 0, 0.822)));
	background-size: contain;
	position: absolute;
	box-sizing: border-box;
	@include prefijos-transition($transition-dark);
	top: -2px;
	right: 0px;
	@media (max-width: 768px) {
		left: 0px;
		@include prefijos-filter(drop-shadow(0 1px 2px rgba(255, 196, 0, 0.822)));
	}
}
.boton-dark-mode::before {
	content: '';
	width: 20px;
	height: 20px;
	background-image: url(../imagenes/luna.png);
	@include prefijos-filter(drop-shadow(0 2px 6px rgba(240, 235, 219, 0.7)));
	background-size: contain;
	position: absolute;
	box-sizing: border-box;
	top: 0;
	right: -30px;
	@include prefijos-transition($transition-dark);
	@media (max-width: 768px) {
		right: -20px;
	}
}
#dark-mode:checked ~ .boton-dark-mode {
	background-image: url(../imagenes/mitad-noche.png);
	@media (max-width: 768px) {
		background-color: rgb(2, 5, 46);
	}
	&:hover ~ .cartel-dark-mode {
		@include prefijos-transform(translateY(0px));
	}
}

#dark-mode:checked ~ .boton-dark-mode::after {
	@include prefijos-transform(translateX(10px));
	opacity: 0;
	@media (max-width: 768px) {
		@include prefijos-transform(translateX(-25px));
	}
}
#dark-mode:checked ~ .boton-dark-mode::before {
	@include prefijos-transform(translateX(-29px));
	@media (max-width: 768px) {
		@include prefijos-transform(translateX(-21px));
	}
}
