#dark-mode:checked ~ .portada-bebidas {
	background-color: $color-principal-negro;
	.portada-bebidas__img {
		opacity: 0.4;
	}
}
#dark-mode:checked ~ .galerias-de-bebidas--fondo-claro {
	color: $color-principal-blanco;
	background-color: $color-principal-negro;
	.tarjeta {
		background-color: $color-detalle-fondo-dark-mode;
	}
	.galerias-de-bebidas__logos {
		img {
			filter: invert(94.5%);
		}
		.galerias-de-bebidas__logo--guinnes {
			filter: none;
		}
	}
}
