#dark-mode:checked ~ .portada-bebidas {
	background-color: $color-principal-negro;
	color: $color-principal-blanco;
	.portada-bebidas__info .portada-bebidas__titulo {
		color: $color-principal-blanco;
	}
}
#dark-mode:checked ~ .galerias-de-bebidas__fondo-claro {
	color: $color-principal-blanco;
	background-color: $color-principal-negro;
	.tarjeta {
		background-color: $color-detalle-fondo-dark-mode;
	}
	.galerias-de-bebidas__logos {
		img {
			filter: invert(94.5%);
		}
		.galerias-de-bebidas__logo--guinnes{
			filter: none;
		}
	}
}
