#dark-mode:checked ~ .info {
	background-image: url(../imagenes/img-contacto/fondo-contacto-vertical-para-dark.jpg);
	@include prefijos-filter(invert(99%) brightness(0.8));
}
#dark-mode:checked ~ .formulario {
	background-color: $color-detalle-fondo-dark-mode;
}
#dark-mode:checked ~ .mapa {
	background-color: $color-principal-negro;
	.mapa__fondo {
		@include prefijos-filter(invert(70%));
	}
}
