#dark-mode:checked ~ .portada-postres {
	background-color: $color-principal-negro;
	color: $color-principal-blanco;
	.portada-postres__info .portada-postres__titulo {
		color: $color-principal-blanco;
	}
}
#dark-mode:checked ~ .portada-postres .portada-postres__img {
	background-image: url(../imagenes/img-postres/Postre-helado.png);
}
#dark-mode:checked ~ .galeria-postres {
	background-image: url(../imagenes/img-postres/bg-3.svg);
	background-color: $color-principal-negro;
}
#dark-mode:checked ~ .presentacion-chef {
	background-color: $color-principal-negro;
	color: $color-principal-blanco;
}
