/*-----------------inicio de contacto-practico grid-------------------------------------*/
#contacto-grid {
	display: grid;
	grid-template-rows: 3.4375em calc(100vh - 3.4375em) 470px 48px;
	grid-template-columns: 1fr 1.5fr;
	grid-template-areas:
		'menu menu'
		'info formulario'
		'mapa mapa'
		'footer footer';
	align-items: center;
	justify-items: center;
	@media (max-width: 1024px) {
		grid-template-rows: 3.4375em calc(100vh - 3.4375em) 500px 470px 48px;
		grid-template-columns: 1fr;
		grid-template-areas:
			'menu'
			'info'
			'formulario'
			'mapa'
			'footer';
	}
}
#menu-contacto-grid {
	grid-area: menu;
}
.info {
	grid-area: info;
	background-image: url(../imagenes/img-contacto/fondo-contacto-vertical.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	color: $color-principal-negro;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 !important;
	@include prefijos-transition($transition-dark);
	@media (max-width: 1024px) {
		background-image: url(../imagenes/img-contacto/fondo-contacto.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		justify-content: space-evenly;
	}
}
.info__titulo {
	position: absolute;
	top: 0.085 * 100vw;
	color: $color-principal-negro;
	@media (max-width: 1024px) {
		position: relative;
		top: auto;
	}
}
.info__informacion {
	position: absolute;
	bottom: 100px;
	padding: 10px 10px 70px;
	@media (max-width: 1024px) {
		position: relative;
		bottom: auto;
	}
}
.info__item {
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	font-weight: 600;
}
/*formulario*/
.formulario {
	grid-area: formulario;
	color: $color-principal-negro;
	background-image: url(../imagenes/img-contacto/blurry-restaurant.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include prefijos-transition($transition-dark);
	.formulario__titulo {
		@include prefijos-transition($transition-dark);
	}
}
.formulario__form {
	background-color: $color-detalle-muy-claro;
	box-shadow: $box-shadow;
	display: flex;
	flex-direction: column;
	width: 70%;
	border-radius: $border-radius;
	padding: 30px;
}
.formulario__input,
.formulario__textarea,
.formulario__titulo {
	margin-bottom: 15px;
	font-weight: 700;
}
.formulario__label {
	color: $color-principal-negro;
	font-weight: 600;
}
.formulario__textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 80px;
	max-height: 140px;
}
.formulario__textarea:focus,
.formulario__input:focus,
.formulario__input[type]:focus {
	border-color: $color-detalle-dorado;
	box-shadow: 0 0 8px rgba(255, 144, 0, 0.6);
	outline: 0 none;
}
/*mapa*/
.mapa {
	grid-area: mapa;
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 470px;
	padding: 14px;
	@include prefijos-transition($transition-dark);
}
.mapa__fondo {
	position: absolute;
	z-index: 5;
	background-image: url(../imagenes/img-contacto/fondo-mapa.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	opacity: 0.1;
	top: 0;
	@include prefijos-transition($transition-dark);
}
.mapa__iframe {
	position: relative;
	z-index: 10;
	width: 90%;
	max-width: 600px;
	max-height: 444px;
}
.footer--contacto {
	grid-area: footer;
	width: 100%;
	height: 100%;
}
