/*-------------------inicio de Postres---------------------------------*/
.portada-postres {
	color: $color-principal-negro;
	@include flex(space-around);
	@include prefijos-transition($transition-dark);
	height: calc(100vh - 3.4375em); /*los 50px son los del menu de navegacion*/
}
.portada-postres__info {
	width: 25em;
	padding: 0 20px;
}
.portada-postres__titulo {
	@include prefijos-transition($transition-dark);
}
.portada-postres__img {
	width: 30em;
	height: 30em * 0.6971;
	@include prefijos-transition($transition-dark);
	background-image: url(../imagenes/img-postres/frutillapostre.png);
	background-position: center;
	background-size: cover;
	@media (min-width: 1224px) {
		width: 40em;
		height: 40em * 0.6971;
	}
	@media (max-width: 480px) {
		width: 25em;
		height: 25em * 0.6971;
	}
}

/*galeria de postres*/
.galeria-postres {
	@include flex(space-around);
	padding: 30px 15px;
	position: relative;
	@include prefijos-transition($transition-dark);
	background-image: url(../imagenes/img-postres/bg-2.svg);
	background-color: $color-principal-blanco;
	background-size: cover;
}
/*presentacion chef pastelera*/
.presentacion-chef {
	background-color: $color-principal-blanco;
	@include flex(center);
	@include prefijos-transition($transition-dark);
	padding: 5em 4em;
}
.presentacion-chef__img {
	width: 25em;
	border-radius: $border-radius;
	margin: 0 40px;
}
.presentacion-chef__info {
	margin: 20px;
	width: 25em;

}
.presentacion-chef__titulo {
	color: $color-detalle-dorado;
	text-shadow: 1px 1px 1px rgba(34, 34, 34, 0.884);
}
